*.html
*.eld
*.dat
*ido*
*.html
*.pdf
*.tex

.DS_Store
eshell
network-security.data
.python-environments
irony
dmenu-items
config.el
recentf
smex-items
tramp
emms
auto-save-list
elpa
straight
transient
auto-complete-love
auto-complete-lua
